[submodule "third_party/minijail"]
	path = third_party/minijail
	url = https://github.com/google/minijail.git
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://gitee.com/mirrors_chromium_googlesource/depot_tools.git
[submodule "third_party/perfetto"]
	path = third_party/perfetto
	url = https://github.com/google/perfetto.git
